<div class="container" ng-app="thaumApp">
  
  <div>
    <h1>
      Testing Minecraft webtools
    </h1>
    <div class="navbar">
      <ul class="nav">
        <li><a href="#/aspects">Aspects</a></li>
        <li><a href="#/researches">Research</a></li>
        <!--<li><a href="#/bees">Bees</a></li>-->
      </ul>
    </div>
    <div class="content" ng-view=""></div>
    
  </div>

</div>