div.aspect-sprite{
  background-image: url("/images/Sprites_Aspects.png");
  height: 64px;
  width: 64px;
}

.pointer{
  cursor: pointer;
}

td.sprite-holder ul li{
  display: inline-block;
}

div.sprite-aer{
  background-position: 0px 0px;
}

div.sprite-alienis{
  background-position: -64px 0px;
}

div.sprite-animus{
  background-position: -128px 0px;
}

div.sprite-aqua{
  background-position: -192px 0px;
}

div.sprite-aura{
  background-position: -256px 0px;
}

div.sprite-bestia{
  background-position: -320px 0px;
}

div.sprite-bestiola{
  background-position: -384px 0px;
}

div.sprite-carus{
  background-position: -448px 0px;
}

div.sprite-cognitio{
  background-position: 0px -64px;
}

div.sprite-corpus{
  background-position: -64px -64px;
}

div.sprite-fabrico{
  background-position: -128px -64px;
}

div.sprite-flos{
  background-position: -192px -64px;
}

div.sprite-fractus{
  background-position: -256px -64px;
}

div.sprite-fungus{
  background-position: -320px -64px;
}

div.sprite-gelum{
  background-position: -384px -64px;
}

div.sprite-herba{
  background-position: -448px -64px; 
}

div.sprite-ignis{
  background-position: 0 -128px;
}

div.sprite-imperito{
  background-position: -64px -128px;
}

div.sprite-instrumentum{
  background-position: -128px -128px;
}

div.sprite-lignum{
  background-position: -192px -128px;
}

div.sprite-lux{
  background-position: -256px -128px;
}

div.sprite-machina{
  background-position: -320px -128px;
}

div.sprite-malum{
  background-position: -384px -128px;
}

div.sprite-messis{
  background-position: -448px -128px;
}

div.sprite-metallum{
  background-position: 0 -192px;
}

div.sprite-mortuus{
  background-position: -64px -192px;
}

div.sprite-motus{
  background-position: -128px -192px;
}

div.sprite-mutatio{
  background-position: -192px -192px;
}

div.sprite-obscurus{
  background-position: -256px -192px;
}

div.sprite-pannus{
  background-position: -320px -192px;
}

div.sprite-permutatio{
  background-position: -384px -192px;
}

div.sprite-potentia{
  background-position: -448px -192px;
}

div.sprite-praecantatio{
  background-position: 0 -256px;
}

div.sprite-purus{
  background-position: -64px -256px;
}

div.sprite-sano{
  background-position: -128px -256px;
}

div.sprite-saxum{
  background-position: -192px -256px;
}

div.sprite-solum{
  background-position: -256px -256px;
}

div.sprite-sonus{
  background-position: -320px -256px;
}

div.sprite-telum{
  background-position: -384px -256px;
}

div.sprite-tempus{
  background-position: -448px -256px;
}

div.sprite-tenebris{
  background-position: 0 -320px;
}

div.sprite-tutamen{
  background-position: -64px -320px;
}

div.sprite-vacuos{
  background-position: -128px -320px;
}

div.sprite-venenum{
  background-position: -192px -320px;
}

div.sprite-victus{
  background-position: -256px -320px;
}

div.sprite-vinculum{
  background-position: -320px -320px;
}

div.sprite-visum{
  background-position: -384px -320px;
}

div.sprite-vitreus{
  background-position: -448px -320px;
}

div.sprite-volito{
  background-position: 0px -384px;
}